<form name="form" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <h1 mat-dialog-title class="mt-2">{{ this.dialogTitle }}</h1>
  <div mat-dialog-content>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Nama</mat-label>
      <input matInput formControlName="nama" placeholder="Nama">
      <mat-error *ngIf="form.get('nama').hasError('required')">
        Nama wajib diisi
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Email">
      <mat-error *ngIf="form.get('email').hasError('required')">
        Email wajib diisi
      </mat-error>
      <mat-error *ngIf="form.get('email').hasError('email')">
        Email tidak valid
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Peran</mat-label>
      <mat-select formControlName="roleId">
        <mat-option *ngFor="let peran of rolesList" [value]="peran._id">
          {{ peran.nama }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('roleId').hasError('required')">
        Peran wajib diisi
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="mb-1">
    <button mat-raised-button class="mx-auto mt-1" type="button" (click)="closeDialog()">Batal</button>
    <button mat-raised-button class="mx-auto mt-1" color="primary" type="submit" [disabled]="form.invalid">Simpan</button>
  </div>
</form>
