<div class="bg-white w-100 p-4 mt-4 shadow">
  <h5 class="text-center">Nilai Terbobot</h5>
  <hr/>
  <div class="backend-content">
    <div class="backend-loading-shade" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div class="backend-loading-shade" *ngIf="countDataSearch === 0">
      <mat-icon class="text-danger">error_outline</mat-icon>
      <span class="text-danger">&nbsp;Data tidak ditemukan</span>
    </div>
    <table mat-table [dataSource]="matriksKeputusan" class="w-100 backend-table">
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> No </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
      </ng-container>
      <ng-container matColumnDef="nama">
        <th mat-header-cell *matHeaderCellDef> Nama Alternatif </th>
        <td mat-cell class="cols" *matCellDef="let element"> {{element.nama}} </td>
      </ng-container>
      <ng-container matColumnDef="C01">
        <th mat-header-cell *matHeaderCellDef> C01 </th>
        <td mat-cell class="cols" *matCellDef="let element"> {{element.c1 | number: '1.2-5'}} </td>
      </ng-container>
      <ng-container matColumnDef="C02">
        <th mat-header-cell *matHeaderCellDef> C02 </th>
        <td mat-cell class="cols" *matCellDef="let element"> {{element.c2 | number: '1.2-5'}} </td>
      </ng-container>
      <ng-container matColumnDef="C03">
        <th mat-header-cell *matHeaderCellDef> C03 </th>
        <td mat-cell class="cols" *matCellDef="let element"> {{element.c3 | number: '1.2-5'}} </td>
      </ng-container>
      <ng-container matColumnDef="C04">
        <th mat-header-cell *matHeaderCellDef> C04 </th>
        <td mat-cell class="cols" *matCellDef="let element"> {{element.c4 | number: '1.2-5'}} </td>
      </ng-container>
      <ng-container matColumnDef="C05">
        <th mat-header-cell *matHeaderCellDef> C05 </th>
        <td mat-cell class="cols" *matCellDef="let element"> {{element.c5 | number: '1.2-5'}} </td>
      </ng-container>
      <ng-container matColumnDef="C06">
        <th mat-header-cell *matHeaderCellDef> C06 </th>
        <td mat-cell class="cols" *matCellDef="let element"> {{element.c6 | number: '1.2-5'}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
<div class="bg-white w-100 p-4 mt-4 shadow">
  <h5 class="text-center">Nilai Optimasi</h5>
  <hr/>
  <div class="backend-content">
    <div class="backend-loading-shade" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div class="backend-loading-shade" *ngIf="countDataSearch === 0">
      <mat-icon class="text-danger">error_outline</mat-icon>
      <span class="text-danger">&nbsp;Data tidak ditemukan</span>
    </div>
    <table mat-table [dataSource]="matriksO" class="w-100 backend-table">
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> No </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
      </ng-container>
      <ng-container matColumnDef="nama">
        <th mat-header-cell *matHeaderCellDef> Nama Alternatif </th>
        <td mat-cell class="cols" *matCellDef="let element"> {{element.nama}} </td>
      </ng-container>
      <ng-container matColumnDef="max">
        <th mat-header-cell *matHeaderCellDef> Max </th>
        <td mat-cell class="cols" *matCellDef="let element"> {{element.max | number: '1.2-5'}} </td>
      </ng-container>
      <ng-container matColumnDef="min">
        <th mat-header-cell *matHeaderCellDef> Min </th>
        <td mat-cell class="cols" *matCellDef="let element"> {{element.min | number: '1.2-5'}} </td>
      </ng-container>
      <ng-container matColumnDef="yi">
        <th mat-header-cell *matHeaderCellDef> Yi </th>
        <td mat-cell class="cols" *matCellDef="let element"> {{element.yi | number: '1.2-5'}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsOptimasi;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsOptimasi;"></tr>
    </table>
  </div>
</div>
