<div class="m-4">
  <div class="bg-white w-100 p-4 shadow">
    <h4>Dashboard</h4>
    <hr/>
    <div class="row w-100 mx-0 my-3 px-0 py-3">
      <div class="col-4 m-0 p-0">
        <div class="w-100 pr-2">
          <div class="w-100 bg-primary text-white p-4 rounded shadow d-flex flex-column justify-content-center align-items-center">
            <h3>{{ alternatifLength }}</h3>
            <span>Alternatif</span>
          </div>
        </div>
      </div>
      <div class="col-4 m-0 p-0">
        <div class="w-100 pl-1 pr-1">
          <div class="w-100 bg-success text-white p-4 rounded shadow d-flex flex-column justify-content-center align-items-center">
            <h3>{{ kriteriaLength }}</h3>
            <span>Kriteria</span>
          </div>
        </div>
      </div>
      <div class="col-4 m-0 p-0">
        <div class="w-100 pl-2">
          <div class="w-100 bg-danger text-white p-4 rounded shadow d-flex flex-column justify-content-center align-items-center">
            <h3>{{ penggunaLength }}</h3>
            <span>Pengguna</span>
          </div>
        </div>
      </div>
    </div>
    <h5>Langkah-langkah penggunaan aplikasi:</h5>
    <ol>
      <li>Daftar menggunakan nama dan email</li>
      <li>Masuk menggunakan email yang telah didaftarkan</li>
      <li>Untuk melihat daftar alternatif, masuk ke menu Alternatif</li>
      <li>Untuk melihat daftar kriteria, masuk ke menu Kriteria</li>
      <li>Atur bobot tiap kriteria dengan mengubah nilai bobot pada menu Bobot</li>
      <li>Hasil perhitungan dapat dilihat di menu Perhitungan</li>
    </ol>
  </div>
</div>
